In [9]:
# import wget
# url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'


# file_Path = 'titanic.csv'
# wget.download(url, file_Path)
# print('downloaded')

In [7]:
import pandas as pd
twitter = pd.read_csv("twitter_training.csv")
twitter.head(3)

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...

In [9]:
twitter.tail()

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
74676,9200,Nvidia,Positive,Just realized that the Windows partition of my...
74677,9200,Nvidia,Positive,Just realized that my Mac window partition is ...
74678,9200,Nvidia,Positive,Just realized the windows partition of my Mac ...
74679,9200,Nvidia,Positive,Just realized between the windows partition of...
74680,9200,Nvidia,Positive,Just like the windows partition of my Mac is l...

In [12]:
twitter.sample(5)

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
25868,840,AssassinsCreed,Positive,"@Ubisoft Hi, Ubisoft. And thank you for introd..."
62991,5198,GrandTheftAuto(GTA),Neutral,YouTube Channel Suspension Update :. - Did GTA...
22713,4292,CS-GO,Irrelevant,Team Spirit to win thriller over Team Vitality...
55791,2377,CallOfDuty,Negative,... So wait. I can't play @CallofDuty on only ...
42482,10089,PlayerUnknownsBattlegrounds(PUBG),Irrelevant,She was though

In [10]:
twitter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74681 entries, 0 to 74680
Data columns (total 4 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   2401                                                   74681 non-null  int64
 1   Borderlands                                            74681 non-null  object
 2   Positive                                               74681 non-null  object
 3   im getting on borderlands and i will murder you all ,  73995 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.3+ MB

In [11]:
twitter.shape

(74681, 4)

In [13]:
twitter.describe()

               2401
count  74681.000000
mean    6432.640149
std     3740.423819
min        1.000000
25%     3195.000000
50%     6422.000000
75%     9601.000000
max    13200.000000

In [17]:
twitter_filtered = twitter[["Borderlands", "Positive","im getting on borderlands and i will murder you all ,"]]
twitter_filtered = twitter_filtered.rename(columns={"Borderlands":'topic', "Positive":'sentiment',"im getting on borderlands and i will murder you all ,": 'text'})
twitter_filtered.sample(5)

,topic,sentiment,text
56812,TomClancysRainbowSix,Negative,the fix I pick unless someone is joining into ...
20372,WorldOfCraft,Positive,"""...the movie will wipe the slate clean and st..."
49171,FIFA,Negative,"Nah this slave can't go unpunished, square up ..."
34692,Fortnite,Irrelevant,Fortnite have really outdone themselves in thi...
13817,NBA2K,Negative,As of now right now the only thing im happy ab...